header{
    background-color: #2c3e50;
    color: white;
}

/* COMMON */

header i{
    font-size: 20px;
}

ul{
    margin-bottom: 0;
}

li{
    list-style: none;
}

.ms-hero{
    background-color:#1abc9c;
}

.hero-image img{
    max-height: 200px;
}

.portfolio img{
    width: 100%;
}

hr{
    border: 1px solid white;
}

h1{
    color: white;
}

h3{
    color: white;
}

h4{
    margin-bottom: 0;
}


.portfolio h1{
    color: black;
}

.contact-me h1{
    color: black;
}

.border-debug{
    /* border: 1px dashed; */
}

.image-prtfl{
    border-radius: 10px;
    overflow-y: hidden;
}
.about{
    background-color: #1abc9c;
    color: white;
}

.footer-up{
    background-color: #3a546d;
    color: white;
}

.footer-down{
    background-color: #2c3e50;
    color: white;
}

.ms-btn{
    background-color:  #1abc9c;
    color: white;
    border: 1px solid white;
    border-radius: 10px ;
    padding: 5px 20px;
}

.ms-big-size-text{
    font-size: 18px;
    font-weight: 500;
}
.ms-xl-size-text{
    font-size: 20px;
}

.ms-extra-padding{
    padding-left: 40px;
    padding-right: 40px;
}

/* .ms-extra-padding-l{
    
    padding-left: 60px;
} */

.ms-padding-kill{
    padding: 0;
}