header{
    background-color: #2c3e50;
    color: white;
}

/* COMMON */


/* TYPOGRAPHY */

header i{
    font-size: 20px;
}

ul{
    margin-bottom: 0;
}

li{
    list-style: none;
}

h1{
    color: white;
}

h3{
    color: white;
}

.ms-hero h3{
    font-size: 18px;
    font-weight: 500;
}

h4{
    margin-bottom: 0;
}


.portfolio h1{
    color: black;
}

.contact-me h1{
    color: black;
}

.ms-icons i{
    font-size: 22px;
    
}

/* MAIN */


.ms-hero{
    background-color:#1abc9c;
}

.hero-image img{
    max-height: 250px;
}

.portfolio img{
    width: 100%;
}



.border-debug{
    /* border: 1px dashed; */
}

.image-prtfl{
    border-radius: 10px;
    overflow-y: hidden;
}
.about{
    background-color: #1abc9c;
    color: white;
}

.footer-up{
    background-color: #3a546d;
    color: white;
}

.footer-down{
    background-color: #2c3e50;
    color: white;
}

.ms-btn{
    background-color:  #1abc9c;
    color: white;
    border: 1px solid white;
    border-radius: 10px ;
    padding: 5px 20px;
}

.ms-big-size-text{
    font-size: 18px;
    font-weight: 500;
}
.ms-xl-size-text{
    font-size: 18px;
}
.star{
    font-size: 28px;
    color: white;
}

.star-b{
    font-size: 28px;
    color: #2c3e50;
}

.ms-extra-padding{
    padding-left: 40px;
    padding-right: 40px;
}


.ms-padding-kill{
    padding: 0;
}

.ms-form-input-style{
    border: 0px;
    border-radius: 0;
    width: 100%;
}

.ms-btn-form{
    background-color: #1abc9c;
    border: none;
}

.ms-custom-container{
    max-width: 60%;
}

input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

textarea::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.ms-form-control{
    border-radius: 0;
}

.left-dec{
    height: 3px;
    width: 100px;
    background-color: white;
}

.right-dec{
    height: 3px;
    width: 100px;
    background-color: white;
}

.left-dec-b{
    height: 3px;
    width: 100px;
    background-color: #2c3e50;
}

.right-dec-b{
    height: 3px;
    width: 100px;
    background-color: #2c3e50;
}

.ms-color-black{
    color: black;
}